<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <h1>Announcements</h1>
    <% if allow? :announcements, :new %>
      <span> 
        <%= link_to 'Create a new announcement', new_announcement_path, {class: 'btn btn-default announcement-row'} %>
      </span>
    <% end %>
  </div>
</div>

<%= render partial: 'announcement', collection: @announcements %>
