<div class="row">
  <h1 class="col-sm-5 col-sm-offset-1">Announcements</h1>
</div>
<div class="row">
  <div class="col-sm-5 col-sm-offset-1">
    <%= form_for @announcement do |f| %>
      <%= f.text_area :message, rows:5, cols:100 %>
      <%= f.submit "Create", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<%= render partial: 'announcement', collection: @announcements %>
