<div class="q2-show-subsection">
  <table class="table sr-response-table">
    <% values.each do |v| %>
    <tr>
      <td class="col-show-label"><p class="q2-cell-wrap"><%= v.question.label %></p></td>
      <td class="col-show-response"><p class="q2-cell-wrap"><%= v.value %></p></td>
    </tr>
    <% end %>
  </table>
</div>
