<!-- <div class="panel panel-default">
  <div class="panel-heading"><%= @election.year %> <%= @survey.title %></div>
 -->  
  <% if @survey.subsections.count > 0 %>
    <%= render partial: "survey_responses/summaries/subsection", collection: @survey.subsections %>
  <% end %>

  <% if @survey.questions.where(subsection_id: nil).count > 0 %>
    <%= render partial: "survey_responses/summaries/questions", locals: { values: @survey_response.values } %>
  <% end %>
<!-- </div> -->
