<h2 class ="myh2yr">Tabulation and Other Equipment Purchases Since 2003 for <%= @county_name[0] %></h2>


<div class="container">
  <div class="well">
    <%=link_to ' New Tabulation or Other Equipment Item', new_tech_voting_software_path, remote: true, class: "btn btn-i icon-arrow-right"%>
  </div>
  <div class="new-tech"></div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Tabulation and Other Equipment Type</th>
        <th>Purchase Date</th>
         <th> Hardware Purchase Price</th>
        <th> Software Purchase Price</th>
            <th>Annual Maintenance Charges For Software</th>
            <th>Average Annual Labor Costs</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="tech-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div class="end_link_tech">
<%= link_to "Election Technology Home", election_technologies_path  %>
</div>


<div class="modal fade" id="tech-modal">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content">
      <div id="tech-modal-inner"></div>
    </div>
  </div>
</div>