<h2 class ="myh2profile">  Welcome,  <%= @user[:username].titleize %>, to the Election Costs Collection Pilot Project! </h2>

<p class ="intro">As you know, the CACEO issued a Request for Proposals to collect election costs earlier this year. Q2 Data & Research, LLC was selected to assist the CACEO in implementing this project. </p>



<p class ="intro">Over the past months, the CACEO Grant Oversight Committee (GOC) has been working with Q2 in designing the questionnaire on this webpage. Your county was selected to participate in this Pilot project because your county's ROV is a member of the GOC. </p>
<p class ="intro">With your assistance, we hope to find out what changes and improvements we need to make to the questionnaire before asking all counties to participate. For your participation to be most useful, please give us feedback on the questionnaire. </p>
<p class ="intro">There are three survey sections in the menu bar of this website: 1. Direct Cost Categories, 2. Election Profiles, 3. Election Technology. Please, select Direct Cost Categories and Year 2012. For this Pilot, we are asking for only the November 2012 general election.  </p>
<p class ="intro">The Direct Cost Categories section has two subsections: 1. Salaries, 2. Service and Supplies. In Salaries, select the category called Sample, Official, Provisional and VBM Ballots and enter the costs for each of the tasks listed in this category. For example, for the task called Ballot Layout And Design In House, enter how much it costs to layout, design and proof ballots by in-house staff. If this task, or parts of it, is performed by a contractor, please enter the contractor costs in the subsection Services and Supplies and category Ballot Printing Services And Supplies. Please, continue through all cost categories in both sections. Enter only your direct costs in the Direct Cost Categories.  The indirect costs are in the Election Profiles section.  </p>
<p class ="intro">To gain a fuller cost picture, we ask for the salaries in a couple of ways: 1. all salaries for the various tasks within each category; 2. all salaries, regular and overtime, for the permanent and temporary staff within each category. </p>
<p class ="intro">At the end of each cost category, there is a text field box to enter any comments, questions or concerns you might have. Your comments can range from 'needs more explanation' or 'makes no sense' to 'this box doesn't work' - whatever you encounter: we would like to hear from you. Don't be shy! Feel free to let us know if there is something you like about the interface too. </p>
<p class ="intro">If you don't capture costs for requested cost categories, please let us know in what cost categories you include them. Use the text field box at the end of each cost category to leave a footnote or contact Edita at editahess.q2@gmail.com. </p>
<p class ="intro">To help you navigate the cost categories,
<span class =  "rlink"> <%= link_to " download the Cost Categories Spreadsheet.", "/data/cost_categories_spreadsheet.xls" %></span> </p>
<p class ="intro">To help you navigate the election profiles,
<span class =  "rlink"> <%= link_to "download the Election Profiles Spreadsheet.", "/data/election_profile_spreadsheet.xls" %></span> </p>
<p class ="intro">The Election Technology section has not been deployed yet. </p>
<p class ="intro">This Pilot is optimized for Chrome and Firefox. Please use one of these two browsers.  </p>
<p class ="intro">Should you encounter any problems, have questions or want to submit additional comments, you can email the Q2 Data & Research team by clicking the Contact Us link in the menu bar of this website. </p>
<p class ="intro">We will be checking our email throughout the business hours and we will get back to you as soon as possible. You can also email Karin directly at karinmacdonald.q2@gmail.com. </p>
