<h2 class="myh2">Please Enter a New Password</h2>


    <%= simple_form_for(:user, :url => {:controller => 'users', :action => 'updatepassword_submit'}) do |f| %>

    <%= f.input  :password,  label: "Password",  :label_html => { :class => "form_item" } %>
    <%= f.input  :password_confirmation,  label: "Password Confirmation",  :label_html => { :class => "form_item" } %>

 <div class="form-actions">
    <%= f.submit :Submit %>
</div>
  <% end %>

