<% survey_presenter.election_profile_items.each do | item | %>
  <div class="show_item_title">
    <%= "#{ format_survey_label item.label }: " %>
    <span style="display:inline-block">
      <%= "#{ survey_presenter.response_for( item, numeric_dollars: false ) }" %>
    </span>
  </div>
<% end %>