<% match = /ssbalpri(\w+)ml/.match( survey_question.field ) || /eplang(vra|caec)/.match( survey_question.field ); langs = nil %>

<% if match %>
  <% if match[1] == 'vra' || match[1] == 'caec'%>
    <% langs = "ElectionProfile::#{match[1].upcase}_LANGUAGES".constantize; field_slice = 'eplang' %>
  <% else %>
    <% langs = Ssbal::LANGUAGES; field_slice = 'ssbalpri' %>
  <% end %>
    <%= f.input "#{field_slice}#{match[1]}_multi_lang".to_sym, 
      # wrapper: :horizontal_input_group
      collection: langs,
      as: :check_boxes,
      label: "#{ format_survey_label( survey_question.label ) }<span class='info'><a href='##{survey_question.field}_modal' data-toggle='modal'> (what\'s this?)</a></span>".html_safe, 
      input_html: { :multiple => true } 
    %>
<% else %>

  <%= f.input :not_applicable, wrapper: :horizontal_input_group do %>
    <span class="input-group-addon">N/A<input type="checkbox"></span>
    <%= f.input survey_question.field.to_sym,
      label: "#{ format_survey_label( survey_question.label ) }<span ><a href='##{survey_question.field}_modal' data-toggle='modal'> (what\'s this?)</a></span>".html_safe,
      label_html: { class: 'control-form caceo-form-label'} %>
  <% end %>
<% end %>