<tr>
  <td><%= tech_voting_machine.voting_equip_type %></td>
  <td><%= link_to 'Show', tech_voting_machine %></td>
  <td><%= link_to 'Edit', edit_tech_voting_machine_path(tech_voting_machine) %></td>
  <td><%= link_to 'Destroy', tech_voting_machine_path( tech_voting_machine)     , :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
