
<h1>Tech Voting Machines</h1>


<br>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tech_voting_machine.voting_equip_type %>
</p>


<%= link_to 'Edit', edit_tech_voting_machine_path(@article) %> |
<%= link_to 'Back', tech_voting_machines_path %>
