
<h1>Tech Voting Machines</h1>

<table class='table' id='people_table'>
  <thead>
    <tr>
      <th>Voting equip type</th>
      <th>Equip make</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_voting_machine.each do |machine| %>
      <%# Render table row partial for each person object %>
      <%= render partial: 'table_row', locals: {tech_voting_machine: machine} %>
    <% end %>
  </tbody>
</table>

<br>

