<div class="modal fade" id="<%= hint_annotation.field %>_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h3><%= hint_annotation.label.titleize %></h3>
      </div>

      <div class="modal-body">
        <p><%= hint_annotation.description %></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>