<% survey_presenter.service_supply_items.each do |k, v| %>
  <div class="show_item_title">
    <%= "#{ format_survey_label k } : $#{v}" %>
  </div>
<% end %>

<div class="show_item_title_total">Total</div>
<div class="show_item_total"><%="$#{ survey_presenter.service_supply_total }" %></div>