<%= f.input survey_question.field.to_sym, 
label: "#{ format_survey_label( survey_question.label ) }<span class='info'><a href='##{survey_question.field}_modal' data-toggle='modal'>(what\'s this?)</a></span>".html_safe,
label_html: { class: "form_item" } %>