<h2 class ="myh2yr">Voting Equipment, Tabulation and Other Equipment Purchases </br> Since 2003 for <%=@county_name[0] %></h2>

<H4 class = "myh4"> Please click on the links below to enter in information about voting equipment and software purchases: </H4>



<H3 class = "myh3"><span align="center">  <%=link_to 'Voting Equipment Purchases', tech_voting_machines_path%></span></H3>

<H3 class = "myh3"><span align="center">  <%=link_to 'Tabulation and Other Equipment Purchases', tech_voting_softwares_path%></span></H3>

