<h2 class ="myh2yr">Election Profile Year Overview For <%= @county_name[0] %></h2>
<div class ="info_table" >
<table class="mytable">
  <thead>
    <tr>
      <th class="yr_mytable_first">Year</th>
      <th class="yr_mytable">Started</th>
      <th class="yr_mytable">Complete</th>
    </tr>
  </thead>
  <tbody>
    <% @profile_years.each do  |y| %>
    <% electionyrid = y[:id] %>
    <td class ="yr_mytable_first"><%=link_to y[:year], election_profiles_path(:election_year_profile_id => electionyrid  ) %> </td>
    <td class="yr_mytable"> <%= y[:started].html_safe %></td>
    <td class="yr_mytable"> <%= y[:done].html_safe %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>


