<h2><% survey_subsection.title %></h2>
<%= render partial: 'response', collection: survey_subsection.questions %>

<% if subsection.totalable? %>
  <h3>Subsection Total: <%= survey_subsection %></h3>
<% end %>