@import "bootstrap/variables";


#caceo-logo {
  height: 79px;
  width: 374px;
}

.mynavbar{
  height: 109px;
}

#mynav {
  float:right;
  clear: both;
}

.mynav_login {
  float: right;
  padding-top: 10px;
}

.mynav_li {
height:35px;
font-size:12px;
}

@media (min-width: $screen-md-min) { 
  body {
    padding-top: 120px;
  }
}

@media (max-width: ($screen-md-min - 1)) {
  .navbar-fixed-top {
    position: relative;
    border-width: 0 0 1px;
  }
}

@media (max-width: ($screen-sm-min - 1)) {
  .mynav_login {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
  }
}

#mynav a {
  padding-bottom: 0px;
}

#mynav {
  padding-top: 15px;
}

.navbar-brand {
  width: 0px;
}