// Place all the styles related to the survey_response controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-show-label {
  width: 70%;
}

.col-show-response {
  width: 30%;
}

.sr-response-table {
  table-layout: fixed;
  width: 100%;
}

.q2-cell-wrap {
  word-wrap: break-word;
  margin: 0 0;
}

.q2-show-sr-block {
  width: 80%;
}

.q2-show-subsection {
  padding-top: 10px;
}

.q2-survey-panel {
  padding: 15px;
}

.q2-survey-panel-title {
  margin: -15px;
  margin-bottom: 0;
}

.q2-survey-panel-options {
  padding-top: 10px;
}

// /* Column widths are based on these cells */
// .row-ID {
//   width: 10%;
// }
// .row-name {
//   width: 40%;
// }
// .row-job {
//   width: 30%;
// }
// .row-email {
//   width: 20%;
// }