// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.profile_item {
font-size: 15px;
}


.profile_header{
padding-top: 15px;
font-size:20px;
padding-bottom:4px;
text-decoration: underline;
}


#edit_profile {
  font-size: 30px;
}
