<h1>All Survey Activity</h1>
<table style="width: 100%">
  <tr>
    <th>Last Updated</th>
    <th>County</th>
    <th>Election</th>
    <th>Survey</th>
  </tr>
  <% @activities.each do |a| %>
    <tr>
      <td><%= a.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime('%F') %></td>
      <td><%= a.county_name   %></td>
      <td><%= a.election_name %></td>
      <td><%= a.survey_title  %></td>
    </tr>
  <% end %>
</table>
