<li class="mynav_li"><%= link_to "Direct Costs and Election Profiles", elections_path %></li>
<li class="mynav_li"><%= link_to "Election Technology", election_technologies_path  %></li>
<li class="divider"></li>

<li class="mynav_li"><%= link_to "Download Direct Cost Categories Spreadsheet", "/data/Direct_Cost_Categories_Spreadsheet_Dec8.xls" %></li>
<li class="mynav_li"><%= link_to "Download Election Profiles Spreadsheet", "/data/Election_Profile_Spreadsheet_Dec8.xls" %></li>